* {
    font-family: 'Roboto';
    /* Standard CSS start  */  
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}


body  {
  font-family: 'Roboto';
  display: flex;
  flex-flow: column;
} 

header, .top, footer {
    background-color:  #1F2937 ;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top img {
    width: 400px;
}

.topcard {
    flex: 0 0 400px;
    margin: 2em;
    padding: 3em;
    display: flex;
    flex-flow: column;
}

.topcard .title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.topcard .text {
    font-size: 18px;
    color: #e5e7eb;
}


.mid1 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: 36px;
    font-weight: bold;
}

.midcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    padding-bottom: 0;
    gap: 0 2em;
    font-size: 18px;
    width: 0;
}

.info img {
    width: 150px;
    border: rgb(1, 95, 236) solid 3px;
}

.mid2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 3em;
}

.mid2 .container {
    display: flex;
    flex-direction: column;
    flex: 0 0 800px;
}

.mid2 .container .text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.sig {
    align-self: flex-end;
    font-size: 30;
    font-weight: bold;
}


.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 8em;
}

.bottom .container {
    display: flex;
    padding: 2em 6em;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    
}

.signup {
    padding: .5em 1em;
    border-radius: 10px;
    margin: 1em;
    margin-left: 0;
    width: 100px;
    background-color: #3882f6;
    color: #f9faf8

}

.signup.one {
    border: rgb(250, 248, 248) solid 3px;
    margin-left: 8em;

}

ul, a {
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
    
}



footer {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 0;

}